@model IEnumerable<BanqueTardi.Models.Compte>

@{
    ViewData["Title"] = "Liste des Comptes";
}

<h1>Compte client</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Banque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeCompte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solde)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Banque!.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client!.FullName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeCompte!.Libelle)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solde)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CodeCourt">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.CodeCourt">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.CodeCourt">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
